<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Testez vos connaissances avec notre plateforme de quiz en ligne ! Des centaines de quiz amusants et éducatifs dans tous les domaines : culture générale, sciences, divertissement, et bien plus. Défiez vos amis et devenez un maître du savoir !" />
    <title>Oquiz</title>

    <link
      rel="shortcut icon"
      href="public/favicon.ico"
      type="image/x-icon" />

    <!-- Google Fonts -->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
      async />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
      async />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
      async />

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="/css/reset.css"
      async />
    <link
      rel="stylesheet"
      href="/css/style.css"
      async />
  </head>
  <body>