<!-- Entête de page -->
    <header class="hero">
      <!-- Logo du site -->
      <h1>
        <img class="header__logo" src="/images/logo-white.svg" alt="Oquiz - Plateforme de quiz en ligne" />
      </h1>
      <!-- Navigation de l'entête -->
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__elt">
            <a class="header-nav__link" href="/"><img src="/icons/homepage.png"
                alt="Page d'accueil" /><span>Accueil</span></a>
          </li>
          <li class="header-nav__elt">
            <a class="header-nav__link" href="/tags"><img src="/icons/tags.png"
                alt="Lien vers la page des sujets" /><span>Sujets</span></a>
          </li>
          <!-- Uniquement visible lorsque l'utilisateur est connecté -->
          <!-- <li class="header-nav__elt">
                            <a
                                class="header-nav__link"
                                href="./profile.html"
                                ><img src="/icons/profile.png" alt="Lien vers votre page de profil"><span>Profil</span></a
                            >
                        </li> -->
          <!-- ... -->
          <li class="header-nav__elt">
            <a class="header-nav__link header-nav__link--outline" href="/connexion"><img src="/icons/login.png"
                alt="Page de connexion" /><span>Connexion</span></a>
          </li>
          <li class="header-nav__elt">
            <a class="header-nav__link header-nav__link--plain" href="/inscription"><img src="/icons/signup.png"
                alt="Page d'inscription" /><span>Inscription</span></a>
          </li>
          <!-- Uniquement visible lorsque l'utilisateur est connecté -->
          <!-- <li class="header-nav__elt">
                            <a
                                class="header-nav__link header-nav__link--outline"
                                href="#"
                                ><img src="/icons/logout.png" alt="Se déconnecter"><span>Déconnexion</span></a
                            >
                        </li> -->
          <!-- ... -->
        </ul>
      </nav>
    </header>

