<%- include('partials/head') %>
<%- include('partials/header') %>

    <!-- Corps de la page -->
    <main class="error-page">
      <h1>
        La ressource demandée n'existe pas.
        <a href="/">Revenir sur la page d'accueil.</a>
      </h1>
      <img
        src="/svg/404.svg"
        alt="Erreur 404" />
    </main>

<%- include('partials/footer') %>
