<%- include('partials/head') %>
<%- include('partials/header') %>

    <!-- Corps de la page -->
    <main class="error-page">
      <h1>
        Erreur côté serveur. <br />
        <a href="/index">Revenir sur la page d'accueil.</a>
      </h1>
      <img
        src="/svg/500.svg"
        alt="Erreur 500" />
    </main>

<%- include('partials/footer') %>
