<%- include('partials/head') %>
  <%- include('partials/header') %>

    <!-- Corps de la page -->
    <main class="homepage">
      <!-- One quiz card element -->
        <article class="quiz-card">
          <div class="quiz-card__img-block">
            <img src="" class="" alt="" />
            <div class="quiz-card__tags">
              <span>Tag 1</span>
              <span>Tag 2</span>
              <span>Tag 3</span>
            </div>
          </div>
          <div class="quiz-card__infos-block">
            <h2 class="quiz-card__title">Titre quiz</h2>
            <p class="quiz-card__author">Par Prénom NOM</p>
            <a class="link-btn" href="./quiz.html">Jouer</a>
          </div>
        </article>
    </main>

    <%- include('partials/footer') %>